---
- name: firewall | firewall | Fail on both firewalld & ufw
  ansible.builtin.fail:
    msg: "Both FirewallD and UFW are detected, firewall situation is unknown"
  when:
    - openvpn_firewall == 'auto'
    - "'firewalld' in ansible_facts.packages"
    - "'ufw' in ansible_facts.packages"

- name: firewall | firewall | Fail on no firewall detected
  ansible.builtin.fail:
    msg: "No firewall detected, install one before proceeding (firewalld||ufw||iptables)"
  when:
    - openvpn_firewall == 'auto'
    - "'firewalld' not in ansible_facts.packages"
    - "'ufw' not in ansible_facts.packages"
    - "'iptables' not in ansible_facts.packages"

- name: firewall | firewall | Add port rules (iptables)
  ansible.builtin.include_tasks: iptables.yml
  when: >-
    (openvpn_firewall == 'iptables')
    or
    (openvpn_firewall == 'auto'
      and 'firewalld' not in ansible_facts.packages
      and 'ufw' not in ansible_facts.packages
      and 'iptables' in ansible_facts.packages
    )

- name: firewall | firewall | Add port rules (firewalld)
  ansible.builtin.include_tasks: firewalld.yml
  when: >-
    (openvpn_firewall == 'firewalld')
    or
    (openvpn_firewall == 'auto'
      and 'firewalld' in ansible_facts.packages
      and 'ufw' not in ansible_facts.packages
    )

- name: firewall | firewall | Add port rules (ufw)
  ansible.builtin.include_tasks: ufw.yml
  when: >-
    (openvpn_firewall == 'ufw')
    or
    (openvpn_firewall == 'auto'
      and 'firewalld' not in ansible_facts.packages
      and 'ufw' in ansible_facts.packages
    )
