---
# tasks file for openvpn
- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_os_family }}.yml"
    - "../vars/empty.yml"
  tags: [always]

- name: Uninstall OpenVPN
  include: uninstall.yml
  when: openvpn_uninstall
  tags:
    - uninstall

- name: Install OpenVPN
  include: install.yml
  tags:
    - install

- name: Copy or Generate server keys
  include: server_keys.yml
  tags:
    - server_keys

# ignoreerrors is required for CentOS/RHEL 6
# http://serverfault.com/questions/477718/sysctl-p-etc-sysctl-conf-returns-error
- name: enable ipv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    ignoreerrors: yes
  failed_when: false
  when: not ci_build

- name: enable ipv6 forwarding
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: 1
    ignoreerrors: yes
  when: openvpn_server_ipv6_network is defined and not ci_build

- name: Detect firewall
  include: firewall.yml
  when:
    - not ci_build
    - manage_firewall_rules
  tags:
    - firewall

- name: generate client configs
  include: client_keys.yml
  when: clients is defined
  tags:
    - client_keys

- name: generate revocation list and clean up
  include: revocation.yml
  when: openvpn_revoke_these_certs is defined
  tags:
    - revocation

- name: configure OpenVPN
  include: config.yml
  tags:
    - configure
