#!/bin/sh

nextUpdate=$(date --date "$(openssl crl -in {{ openvpn_key_dir }}/ca-crl.pem -noout -nextupdate | cut -d'=' -f2)" +%s)
now=$(date +%s)

if [ $(( (nextUpdate - now) / 86400 )) -le 10 ]; then
    sh {{ openvpn_key_dir }}/revoke.sh
fi
