<LDAP>
    # LDAP server URL
    URL {{ openvpn_ldap.url }}

{% if not openvpn_ldap.anonymous_bind %}
    # Bind DN (If your LDAP server doesn't support anonymous binds)
    BindDN {{ openvpn_ldap.bind_dn }}
    # Bind Password
    Password {{ openvpn_ldap.bind_password }}
{% endif %}

    # Network timeout (in seconds)
    Timeout 15

    # Enable Start TLS
    TLSEnable {{ openvpn_ldap.tls_enable }}

    # Follow LDAP Referrals (anonymously)
    FollowReferrals no

{% if openvpn_ldap.tls_ca_cert_file is defined %}
    # TLS CA Certificate File
    TLSCACertFile {{ openvpn_ldap.tls_ca_cert_file }}
{% endif %}

    # TLS CA Certificate Directory
    TLSCACertDir /etc/ssl/certs

    # Client Certificate and key
    # If TLS client authentication is required
{% if openvpn_ldap.tls_cert_file is defined %}
    TLSCertFile {{ openvpn_ldap.tls_cert_file }}
{% endif %}
{% if openvpn_ldap.tls_key_file is defined %}
    TLSKeyFile {{ openvpn_ldap.tls_key_file }}
{% endif %}

    # Cipher Suite
    # The defaults are usually fine here
    # TLSCipherSuite ALL:!ADH:@STRENGTH
</LDAP>

<Authorization>
    # Base DN
    BaseDN "{{ openvpn_ldap.base_dn }}"

    # User Search Filter
    SearchFilter "{{ openvpn_ldap.search_filter }}"

{% if openvpn_ldap.require_group %}
    # Require Group Membership
    RequireGroup True
    # Add non-group members to a PF table (disabled)
    #PFTable ips_vpn_users

    <Group>
        BaseDN "{{ openvpn_ldap.group_base_dn }}"
        SearchFilter "{{ openvpn_ldap.group_search_filter }}"
        MemberAttribute uniqueMember
        # Add group members to a PF table (disabled)
        #PFTable ips_vpn_eng
    </Group>
{% endif %}
</Authorization>
