{% for secret in openvpn_otp_secrets %}
{{ secret.username }} otp {{ secret.type }}:{{ secret.hash }}:{{ secret.encoding }}:{{ secret.key }}:{{ secret.pin }}:{{ secret.udid }} {{ secret.clients }}
{% endfor %}
