#!/bin/sh


CADIR="{{ openvpn_key_dir }}"

cd ${CADIR}

gen_crl () {
  # regenerate the certificate revocation list
  if [ "${passphrase}" ]
  then
    openssl ca -gencrl -config ca.conf -out ca-crl.pem -passin "pass:${passphrase}"
  else
    openssl ca -gencrl -config ca.conf -out ca-crl.pem
  fi

}

revoke () {
  # revoke a client certificate
  if [ "${passphrase}" ]
  then
    openssl ca -config ca.conf -revoke "${cert}" -passin "pass:${passphrase}"
  else
    openssl ca -config ca.conf -revoke "${cert}"
  fi
} 

crl_out () {
  # show certificate revocation list
  openssl crl -in ca-crl.pem -noout -text
}

crl_verify () {
  # verify that a certificate has been revoked
  temp_pem="${mktemp}"
  
  cat ca.crt ca-crl.pem > ${temp_pem}
  
  openssl verify -extended_crl -verbose -CAfile ${temp_pem} -crl_check "${1}"
  
  rm -f ${temp_pem}
}

while getopts ":c:p:" opt; do
  case $opt in
    c) cert="$OPTARG"
    ;;
    p) passphrase="$OPTARG"
    ;;
    \?) echo "Invalid option -$OPTARG" >&2
    ;;
  esac
done

gen_crl

if [ "${cert}" ]
then
  revoke "${cert}"
  gen_crl
fi

# vim: autoindent expandtab shiftwidth=2
