# {{ ansible_managed }}

port {{openvpn_port}}
proto {{openvpn_proto}}6
dev tun

ca keys/ca.crt
cert keys/server.crt
key keys/server.key
dh keys/dh.pem
tls-auth keys/ta.key 0

tls-server
auth SHA256
cipher AES-256-CBC
{% if openvpn_use_modern_tls %}
{# Using Mozilla's modern cipher list + DHE for older clients #}
tls-version-min 1.2
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-256-CBC-SHA384:TLS-ECDHE-RSA-WITH-AES-256-CBC-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256
{% endif %}

server 10.9.0.0 255.255.255.0
ifconfig-pool-persist ipp.txt

push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 208.67.222.222"
push "dhcp-option DNS 208.67.220.220"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"
keepalive 5 30
comp-lzo
persist-key
persist-tun
user nobody
group nogroup

status openvpn-status.log
log-append /var/log/openvpn.log
verb 3

{% if openvpn_verify_cn %}
verify-x509-name OpenVPN-Client-{{inventory_hostname}} name-prefix
remote-cert-tls client
{% endif %}
